@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar {
  width: 0;
  display: none;
}
